<!-- Navigation Bar -->
<link rel="stylesheet" href="/css/doctorNavbar.css" />
<nav>
  <div class="navbar">
    <a href="/doctor/dashboard">Homepage</a>
    <a href="/doctor/medical-history">Medical History</a>
    <a href="/doctor/appointments">Appointments</a>
    <a href="/doctor/prescribe">Prescribe</a>
    <div class="navbar-right">
      <a href="/" onclick="logout()">Logout</a>
    </div>
  </div>
</nav>
