<!-- Navigation Bar -->
<link rel="stylesheet" href="../../public/css/doctorNavbar.css" />
<nav>
  <div class="navbar">
    <a href="/doctor-dashboard">Profile</a>
    <a href="/doctor-medical-history">Medical History</a>
    <a href="/doctor-appointments">Appointments</a>
    <a href="/prescribe">Prescribe</a>
    <div class="navbar-right">
      <a href="/" onclick="logout()">Logout</a>
    </div>
  </div>
</nav>
