<!-- Navigation Bar -->
<link rel="stylesheet" href="/css/patientNavbar.css" />
<nav>
  <div class="navbar">
    <a href="/student/dashboard">Homepage</a>
    <a href="/student/medical-history">Medical History</a>
    <a href="/student/appointments">Appointments</a>
    <div class="navbar-right">
      <a href="/" onclick="logout()">Logout</a>
    </div>
  </div>
</nav>
