<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Prescription History</title>
    <link rel="stylesheet" href="/css/doctorMedicalHistory.css">
</head>
<body>
    <!-- nav -->
    <%- include('partials/doctorNavbar.ejs') %>
    <div class="container">
        <h1>Doctor's Prescription History</h1>

        <table>
            <thead>
                <tr>
                    <th>Prescribed Date</th>
                    <th>Patient Name</th>
                    <th>Diagnosis</th>
                    <th>Notes</th>
                    <th>Prescription</th>
                    <th>Attachments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025-02-04</td>
                    <td>John Doe</td>
                    <td>Flu</td>
                    <td>Take rest and drink fluids</td>
                    <td class="actions"><a href="/student/view-prescriptions" onclick="viewPrescription()">View</a></td>
                    <td class="actions"><a href="/student/view-attachments" onclick="viewAttachments()">View</a></td>
                </tr>
                <tr>
                    <td>2025-01-20</td>
                    <td>Jane Smith</td>
                    <td>Allergy</td>
                    <td>Use antihistamines as needed</td>
                    <td class="actions"><a href="/student/view-prescriptions" onclick="viewPrescription()">View</a></td>
                    <td class="actions"><a href="/student/view-attachments" onclick="viewAttachments()">View</a></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    <script>
        function viewPrescription() {
            alert('Viewing Prescription');
        }
        
        function viewAttachments() {
            alert('Viewing Attachments');
        }
    </script>
</body>
</html>
