<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="navbar-left">
            <a href="/">Homepage</a>
        </div>
        <div class="navbar-right">
            <a href="/signup">Sign Up</a>
            <a href="/login">Sign In</a>
        </div>
    </div>

    <div class="login-container">
        <h1>Login</h1>
        <% if (error) { %>
            <div class="error-message"><%= error %></div>
        <% } %>
        <form id="loginForm" action="/login" method="POST">
            <label for="username">Email:</label>
            <input type="text" id="email" name="email" placeholder="Enter your username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
            <p>New to MediNotes? <a href="/signup">Create an account</a></p>
        </form>
    </div>
</body>
</html>
