.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

.navbar-right {
    float: right;
}